name: Publish OLM Release

on:
  release:
    types: [published] # Trigger the workflow only when a new release is created
env:
  REGISTRY: ghcr.io

jobs:
  release-olm:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set release version env
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Set operator base image name env
        run: |
          OPERATOR_BASE_IMAGE=$(echo "${REGISTRY}/${{ github.repository }}" | tr A-Z a-z)
          echo "OPERATOR_BASE_IMAGE_NAME=${OPERATOR_BASE_IMAGE}" >> $GITHUB_ENV

      - name: Create semver file for OLM
        run: |
          result=$(curl -s "https://api.github.com/repos/$GITHUB_REPOSITORY/releases" \
          --header "Authorization: Bearer ${{ secrets.SEMANTIC_RELEASE_TOKEN }}")
          echo $result

          releases=$(echo $result | jq -r '.[].tag_name')

          {
              cat <<EOF
          Schema: olm.semver
          GenerateMajorChannels: true
          GenerateMinorChannels: true
          Stable:
            Bundles:
          EOF
              for release in $releases; do
                  echo "    - Image: ${OPERATOR_BASE_IMAGE_NAME}-bundle:$release"
              done
          } >semver.yaml

          cat semver.yaml
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Make bundle
        run: |
          make bundle IMG="${OPERATOR_BASE_IMAGE_NAME}-operator:${RELEASE_VERSION}"

      - name: Build and push operator image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ env.OPERATOR_BASE_IMAGE_NAME }}-operator:${{ env.RELEASE_VERSION }}

      - name: Build and push operator bundle image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: bundle.Dockerfile
          push: true
          tags: ${{ env.OPERATOR_BASE_IMAGE_NAME }}-bundle:${{ env.RELEASE_VERSION }}

      - name: Generate operator catalog
        uses: docker://ghcr.io/jaydee94/kreepy/opm:ci
        with:
          entrypoint: /bin/sh
          args: -c "mkdir -p catalog/operator && opm alpha render-template semver semver.yaml > catalog/operator/catalog.yaml && opm validate catalog/operator && opm generate dockerfile catalog/operator"

      - name: Build and push operator catalog image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: catalog/operator.Dockerfile
          push: true
          tags: ${{ env.OPERATOR_BASE_IMAGE_NAME }}-catalog:stable
